.noticias {
    display: block;
    padding: 0 6rem 0 0;
}

.noticias div h3 {
    margin-bottom: 1rem;
}

.noticias div p {
    margin-bottom: 4rem;
}

.contacto a {
    display: flex;
    align-items: center;
}

.contacto a img {
    width: 25px;
    margin-left: 10px;
}