.noticias {
    display: block;
    padding: 0 6rem 0 0;
}

.noticias div h3 {
    margin-bottom: 0.4rem;
}

.noticias div p {
    margin-bottom: 3rem;
}

.noticias .contacto {
    margin-bottom: 1.5rem;
}

.contacto a {
    display: flex;
    align-items: center;
}

.contacto a span {
    color: var(--navigation);
    font-size: 18px;
    margin-left: 10px;
}