@font-face {
    font-family: 'bigshoulders';
    src: url(../fonts/BigShouldersStencilDisplay-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'opensans';
    src: url(../fonts/OpenSans-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}