@media only screen and (max-width: 599px) {
    .fas {
        display: block;
        color: whitesmoke;
        font-size: 30px;
    }

    .navigation-buttons > div > img {
        display: none;
    }

    .navigation-buttons ul {
        background-color: var(--navigation);
        padding: 0 0 0 52px;
        flex-direction: column;
        position: absolute;
        top: 0; 
        left: -480px;
        transition: 1s;       
    }

    .navigation-buttons ul li {
        margin-bottom: 30px;
    }

    .fas.fa-bars {
        margin-right: auto;
        margin-left: 30px;
    }
}



@media only screen and (min-width: 600px) and (max-width: 1000px) {
    section,
    footer {
        padding: 40px 10px;
    }

    /* -----  HEADER  ----- */
    .main-header img {
        width: 40px;
    } 
    
    .main-header h1 {
        font-size: 2rem;
    }
    
    
    /* -----  Navigation  ----- */
    nav {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .navigation-buttons ul {
        width: 82%;
    }
    

    /* -----  MAIN  ----- */


    /* -----  FOOTER  ----- */
}



@media only screen and (min-width: 1001px) {
    section,
    footer {
        padding: 40px 10px;
    }


    /* -----  HEADER  ----- */
    .main-header img {
        width: 40px;
    }

    .main-header h1 {
        font-size: 2rem;
    }


    /* -----  Navigation  ----- */
    nav {
        position: sticky;
        top: 0;
        z-index: 1;
    }
    
    .navigation-buttons a:hover {
        text-decoration: none;
        color: #181818;
        background-color: #fafafa;
    }

    .navigation-buttons a:active {
        color: orangered;
    }


    /* -----  MAIN  ----- */
    .noticias {
        max-width: 900px;
    }

    .ventas {
        width: 280px;
        display: block;
    }

    .ventas div {
        margin-bottom: 20px;
    }

    /* -----  FOOTER  ----- */
}
