@media only screen and (min-width: 600px) and (max-width: 1000px) {
    section,
    footer {
        padding: 40px 10px;
    }

    /* -----  HEADER  ----- */
    .main-header img {
        width: 40px;
    } 
    
    .main-header h1 {
        font-size: 2rem;
    }
    
    
    /* -----  Navigation  ----- */
    nav {
        position: sticky;
        top: 0;
        z-index: 1;
    }
    

    /* -----  MAIN  ----- */


    /* -----  FOOTER  ----- */
}



@media only screen and (min-width: 1001px) {
    section,
    footer {
        padding: 40px 10px;
    }


    /* -----  HEADER  ----- */
    .main-header img {
        width: 40px;
    }

    .main-header h1 {
        font-size: 2rem;
    }


    /* -----  Navigation  ----- */
    nav {
        position: sticky;
        top: 0;
        z-index: 1;
    }
    
    .navigation-buttons a:hover {
        text-decoration: none;
        color: #181818;
        background-color: #fafafa;
    }

    .navigation-buttons a:active {
        color: orangered;
    }


    /* -----  MAIN  ----- */
    .noticias {
        max-width: 908px;
    }

    .ventas {
        width: 280px;
        display: block;
    }

    .ventas div {
        margin-bottom: 10px;
    }

    /* -----  FOOTER  ----- */
}
