* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'opensans';
    /* border: 1px solid lightseagreen; */
}

:root {
    --header: #fafafa;
    --navigation: #202020;
    --section-1: #fafafa;
    --section-2: lightcoral;
    --section-3: lightblue;
    --footer:  #dde6f1;
}

p {
    line-height: 1.6rem;
    font-size: 15px;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-weight: 400;
}

ul {
    list-style: none;
}

img {
    display: block;
    width: 100%
}

body {
    background: linear-gradient(#fafafad9, #fafafa),
                url(../images/flags1.jpg);
    background-attachment: scroll;
    background-position: top center;
}

header,
nav,
section,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container {
    /* min-height: 80px; */
    width: 1200px;
    /* background-color: orangered; */
}



/* -----  HEADER  ----- */
header {
    /* background-color: var(--header); */
    color: #202020;
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header img {
    display: none;
    width: 30px;
}

.main-header h1 {
    font-family: 'bigshoulders';
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0 20px;
    font-size: 1.5rem;
}



/* -----  Navigation  ----- */
nav {
    padding: 5px;
    background-color: var(--navigation);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075),
                0 2px 2px rgba(0, 0, 0, 0.075),
                0 4px 4px rgba(0, 0, 0, 0.075);
}

.navigation-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.navigation-buttons img {
    width: 30px;
}

.navigation-buttons ul {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fas {
    display: none;
}

.navigation-buttons a {
    display: inline-block;
    padding: 10px;
    border-radius: 25px;
    color: var(--header);
}

.navigation-buttons a:hover {
    text-decoration: underline;
}

.navigation-buttons a:active {
    color: orangered;
}

.social-media {
    display: flex;
}

.social-media a {
    display: block;
    padding: 0;    
}

.facebook{
    margin-right: 20px;
}



/* -----  MAIN  ----- */

.section-1 .container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.noticias {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    color: #202020;
}

.section {
    background-color: rgba(250, 250, 250, 0.5);
    /* border-radius: 5px; */
    box-shadow: 0 1px 1px #dde6f1,
                0 2px 2px #dde6f1,
                0 4px 4px #dde6f1,
                0 0 6px #dde6f1;
}

.section h4 {
    margin-top: 1rem;
}

.section h4 a {
    color: #202020;
}

.section h4 a:hover {
    color: rgb(102, 101, 101);
}

.uno {
    padding: 15px;
}

.dos {
    flex: 250px;
    padding: 8px;
}

.dos:hover {
    transform: scale(1.03);
}

.uno:active,
.dos:active,
.ventas .section:active {
    box-shadow: 0 1px 1px rgba(255, 68, 0, 0.2),
                0 2px 2px rgba(255, 68, 0, 0.2),
                0 4px 4px rgba(255, 68, 0, 0.2),
                0 0 4px rgba(255, 68, 0, 0.2);
}

.ventas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.ventas div {
    flex: 300px;
}

.ventas .section a {
    display: block;
}




/* -- section-2 -- */
.section-2 {
    background-color: var(--section-2);
}



/* -----  FOOTER  ----- */
footer {
    background-color: var(--footer);
    color: #202020;
}

.redaccion {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 2px solid #5e5e5e;
}

.redaccion ul {
    width: 300px;
}

.redaccion ul li a {
    font-size: 15px;
    color: #202020;
}

.redaccion ul li a:hover {
    text-decoration: underline;
}

.redaccion ul li {
    margin-bottom: 1rem;
}

.aviso {
    flex: 250px;
}

.aviso h3 {
    margin-bottom: 1rem;
}

.espacio {
    margin-bottom: 25px;
}

.aviso p:last-of-type {
    text-align: right;
}



/* -- Company Logo -- */
.company {
    display: flex;
    justify-content: center;
    font-family: tahoma;
}

.company a {
    color: inherit;
    font-size: 15px;
}

.company-logo {
    width: 230px;
    border-radius: 5px;
    border: 3px solid #dde6f1;
    text-align: center;
    padding: 10px;
    box-shadow: -1px -1px 2px #F2F6FA,
                -2px -2px 4px #F2F6FA,
                -4px -4px 8px #F2F6FA,
                1px 1px 2px #ACBBCE,
                2px 2px 4px #ACBBCE,
                4px 4px 8px #ACBBCE,
                inset 0 0 3px #ACBBCE;
}

.company-logo:hover {
    transform: scale(1.03);
}

.company-logo:active {
    transform: scale(0.95);
    box-shadow: 0 1px 1px rgba(255, 68, 0, 0.2),
                0 2px 2px rgba(255, 68, 0, 0.2),
                0 4px 4px rgba(255, 68, 0, 0.2),
                0 0 4px rgba(255, 68, 0, 0.2);
}

.company-logo p {
    font-size: .7rem;
    position: relative;
    top: 4px;
}
.company-logo h2 {
    font-weight: normal;
    text-transform: uppercase;
    color: #202020;
}
